@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root{
  --d-important: #233E7B;
  --d-ft: #fff;
  --d-game: #0E1139;;
  --d-gft: #fff;
  --d-bg: #21306C;


  --bg: var(--d-bg);
  --important: var(--d-important);
  --ft: var(--d-ft);
  --game: var(--d-game);
  --gft: var(--d-gft);
}

body{
  background-color: var(--bg);
  margin: 0;
  font-size: 2vw;
  font-family: Roboto;
}

a, button, input{
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  border: inherit;
  background-color: unset;
:root{
  --d-important: #233E7B;
  --d-ft: #0E1139;


  --important: var(--d-important);
  --ft: var(--d-ft);
}

body{
  background-color: #00d;
  margin: 0;
  font-size: 2vw;
  font-size: Roboto;
}